body {
    background-color: #f8f8ff;
    font-family: "Times New Roman", Times, serif;
}

.resume_body {
    margin: 0 auto;
    width: 55%;
    /* height: 1000px; */
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header {
    background-color: navy;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    color: white;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

.main_page {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 30%;
}

.sidebar_category {
    text-align: right;
    color: #212529;
    margin: 20px 10px 0 0;
}

.contact {
    margin: 20px 10px 0 0;
    text-align: right;
}

.sidebar_category_title {
    margin: 0;
    color: black;
}

.contact ul {
    list-style-type: none;
    margin: 8px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: Arial, Helvetica, sans-serif;
}

.contact a {
    display: flex;
    align-items: center;
    text-align: end;
    text-decoration: none;
    color: #212529;
}

.contact p {
    margin: 5px 0;
}

.contact img {
    max-width: 15px;
    height: auto;
    opacity: 70%;
    margin-left: 5px;
}

.education {
    text-align: right;
    color: #212529;
    margin: 20px 10px 0 0;
}

.education_information {
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.education_information p {
    margin: 7px 0;
}

.content {
}
