body {
    background-color: #f8f8ff;
    font-family: "Times New Roman", Times, serif;
}

.resume_body {
    margin: 0 auto;
    width: 55%;
    /* height: 1000px; */
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header {
    background-color: navy;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    color: white;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

sidebar {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 34%;
    /* width: 70%; */
    height: 100%;
    /* border: 1px solid black; */
}

.contact {
    width: 90%;
    margin: 0 10px;
    margin-bottom: 20px;
}

.contact h2 {
    text-align: right;
    margin-bottom: 0;
}

.contact ul {
    list-style-type: none;
    /* margin: 0; */
    margin-top: 8px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.contact a {
    display: flex;
    align-items: center;
    text-align: end;
    text-decoration: none;
    color: #212529;
}

.contact p {
    margin: 5px 0;
}

.contact img {
    max-width: 20px;
    opacity: 70%;
    height: auto;
    margin-left: 5px;
}

.education {
    text-align: right;
    color: #212529;
}
